[Unit]
Description=Game of Dots

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
Environment=MIX_ENV=prod "PORT=3791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/sukhada/game-of-dots
ExecStart=bash /home/sukhada/game-of-dots/start.sh

[Install]
WantedBy=multi-user.target
