
.turn {
  right: 0px;
  top: 0px;
  padding: 1%;
  position: fixed;
  font-size: 2.5rem;
  border: 1px solid;
}

.header {
  display: inline-flex;
  width: 33.33%;
  font-size: 2rem;
}

.row-data {
  display: inline-flex;
  width: 33.33%;
  font-size: 2rem;
}

.chat-box {
  right: 0;
  position: absolute;
  bottom: 50px;
  height: 200px;
  width:300px;
  background: cadetblue;
}

.chat-header {
  background-color: beige;
  color:darkslateblue;
  padding: 2%;
}

.chat-messages {
  height: 167px;
  scroll-behavior: auto;
}

.history {
  display: flex;
}

.player-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.center-aligned {
  text-align: center;
  position: relative;
}
